## Flight Data Analysis
- Feature Engineering 
- EDA

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [2]:
!ls

Data_Train.xlsx  Flight_data_analysis.ipynb  Test_set.xlsx

In [3]:
df_train = pd.read_excel("Data_Train.xlsx")

In [4]:
df_test = pd.read_excel('Test_set.xlsx')

In [5]:
df_train.head().T

,0,1,2,3,4
Airline,IndiGo,Air India,Jet Airways,IndiGo,IndiGo
Date_of_Journey,24/03/2019,1/05/2019,9/06/2019,12/05/2019,01/03/2019
Source,Banglore,Kolkata,Delhi,Kolkata,Banglore
Destination,New Delhi,Banglore,Cochin,Banglore,New Delhi
Route,BLR → DEL,CCU → IXR → BBI → BLR,DEL → LKO → BOM → COK,CCU → NAG → BLR,BLR → NAG → DEL
Dep_Time,22:20,05:50,09:25,18:05,16:50
Arrival_Time,01:10 22 Mar,13:15,04:25 10 Jun,23:30,21:35
Duration,2h 50m,7h 25m,19h,5h 25m,4h 45m
Total_Stops,non-stop,2 stops,2 stops,1 stop,1 stop
Additional_Info,No info,No info,No info,No info,No info
Price,3897,7662,13882,6218,13302

In [6]:
df_train.shape

(10683, 11)

In [7]:
df_test.shape

(2671, 10)

In [8]:
df_final = pd.concat([df_train,df_test])

In [9]:
df_final.shape

(13354, 11)

In [10]:
df_final['Date'] = df_final['Date_of_Journey'].apply(lambda x:int(x.split('/')[0]))
df_final['Month'] = df_final['Date_of_Journey'].apply(lambda x:int(x.split('/')[1]))
df_final['Year'] = df_final['Date_of_Journey'].apply(lambda x:int(x.split('/')[2]))

In [11]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [12]:
df_final.drop('Date_of_Journey',inplace=True,axis=1)

In [13]:
df_final.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [14]:
df_final['Arrival_Time'] = df_final['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [15]:
df_final.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [16]:
df_final['Arrival_hour'] = df_final['Arrival_Time'].apply(lambda x:int(x.split(':')[0]))
df_final['Arrival_min'] = df_final['Arrival_Time'].apply(lambda x:int(x.split(':')[1]))
df_final['Dept_hour'] = df_final['Dep_Time'].apply(lambda x:int(x.split(':')[0]))
df_final['Dept_min'] = df_final['Dep_Time'].apply(lambda x:int(x.split(':')[1]))

In [17]:
df_final.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50

In [18]:
df_final.drop('Arrival_Time',inplace=True,axis=1)
df_final.drop('Dep_Time',inplace=True,axis=1)

In [19]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_min      13354 non-null  int64
 13  Dept_hour        13354 non-null  int64
 14  Dept_min         13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.6+ MB

In [20]:
df_final.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [21]:
df_final['Total_Stops'] = df_final['Total_Stops'].map({'non-stop':0,'2 stops':2,'1 stop':1,'3 stops':3, '4 stops':4})

In [22]:
df_final['Total_Stops']= df_final['Total_Stops'].fillna(1)

In [23]:
df_final.drop('Route',inplace=True,axis=1)

In [24]:
df_final.Additional_Info.unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [25]:
df_final.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50

In [26]:
df_final['Duration_min']  = df_final['Duration'].apply(lambda x: int(x.split(' ')[0][:-1])*60 + int(x.split(' ')[-1][:-1]))
# df_final['min_dur_2'] = df_final['Duration'].apply(lambda x:x.split(' ')[-1][:-1])

In [28]:
df_final['Duration_min']

0        170
1        445
2       1159
3        325
4        285
        ...
2666    1435
2667     155
2668     395
2669     915
2670     860
Name: Duration_min, Length: 13354, dtype: int64

In [30]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13354 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival_hour     13354 non-null  int64
 11  Arrival_min      13354 non-null  int64
 12  Dept_hour        13354 non-null  int64
 13  Dept_min         13354 non-null  int64
 14  Duration_min     13354 non-null  int64
dtypes: float64(2), int64(8), object(5)
memory usage: 1.6+ MB

In [37]:
df_final[df_final['Duration_min'] <= 90]

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,Duration_min
67,Air India,Mumbai,Hyderabad,1h 30m,0.0,No info,3625.0,6,5,2019,15,25,13,55,90
70,Jet Airways,Mumbai,Hyderabad,1h 25m,0.0,No info,5678.0,1,6,2019,8,30,7,5,85
77,IndiGo,Mumbai,Hyderabad,1h 30m,0.0,No info,4049.0,3,4,2019,7,55,6,25,90
98,Jet Airways,Mumbai,Hyderabad,1h 25m,0.0,No info,8040.0,18,6,2019,8,30,7,5,85
121,Air India,Mumbai,Hyderabad,1h 25m,0.0,No info,3100.0,3,5,2019,16,25,15,0,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570,Air India,Mumbai,Hyderabad,1h 20m,0.0,No info,NaN,12,5,2019,22,25,21,5,80
2609,SpiceJet,Mumbai,Hyderabad,1h 30m,0.0,No info,NaN,15,5,2019,7,15,5,45,90
2632,Jet Airways,Mumbai,Hyderabad,1h 30m,0.0,In-flight meal not included,NaN,9,3,2019,4,25,2,55,90
2662,Air India,Mumbai,Hyderabad,1h 30m,0.0,No info,NaN,21,5,2019,15,25,13,55,90
2665,SpiceJet,Mumbai,Hyderabad,1h 30m,0.0,No check-in baggage included,NaN,21,6,2019,0,15,22,45,90

In [35]:
df_final['Duration_min'].unique()

array([ 170,  445, 1159,  325,  285,  145,  930, 1265, 1530,  470,  795,
        155,  135,  730, 1595,  270, 1355, 1403, 1235,  310,  920,  175,
        800,  910,  345,  355,  805, 1342,  330,  625,  315,  150,  375,
        715,  665,  510, 1325,  165,  732,  965, 1195,  195, 1520,  183,
        975,  905,  390, 1505,  745, 1640,  615,  630,   90,   85, 1590,
        440,  810,  305, 1145,  890,  160, 1330,  575,  610, 1280, 1125,
        740, 1098,  555, 1050,  995,  735,  450, 1464,  535,  430,  870,
       1820,  915,  765,  925,  845, 1215, 1390, 1090,  976,  140,  488,
       1015,  190,  854, 1430, 1300, 1275,  650,  495,  515,  710, 1655,
        505, 1255,  290,  490, 1465, 1415, 1545, 1570, 1730, 1515,  560,
        550,  185,  690,  570, 1055, 1550, 1220,  793, 1105, 1450,  295,
       1535,  380, 1120, 1165, 1760,  545,  645,  700, 1375, 2245, 1540,
        835,  520, 1410,  755, 1455,   80,  671,  675,  875,  775,  549,
        460,  705, 1495, 1025, 1795, 1335,  880,  435, 1210, 1245, 1647,
       1470, 1225,  335,  885,  340,  245,  955,  465, 1700,  260,  220,
        530, 1425, 1485, 1295,  485,  385,  950, 1585, 1490, 1586, 1385,
        475, 1580, 1395,  320,  244,  585,  500, 1045,  425, 2045,  365,
        350,  427,  265,  825, 1155, 1350,  985,  830, 1625, 1690,  280,
        940,  275, 1110, 2295,  395,  750,  680,  455, 1775, 1615, 1420,
        770,  590, 1315,  655, 1270, 1240, 1830,  790,  525,  370, 1065,
       1305,  235, 1040, 1285,  760, 1475, 1150, 1360,  895, 1281,  405,
       1720,  580, 1000,  980, 1005,   75,  415,  685,  860,  725, 1445,
       1695, 1070, 1685,  620,  855, 2115, 2135, 1600, 1708,  865,  785,
       2240, 2170, 1555, 2105, 1185, 1675, 2867,  635,   95,  970, 2300,
        366, 1010,  850, 1400, 1060,  695, 1100,  400, 1855, 1480, 1790,
       1705, 1035, 1365, 1525, 1310, 1995, 1815,  215, 1660, 1825, 1130,
       1665,  640, 1575, 2185, 1610,  945, 1180, 1345, 1175, 1605, 2318,
        255, 1510, 1095,  410, 1435, 1075, 1405, 1030, 1460, 1710, 1630,
       1160,  935,  565, 1290, 2065, 1115, 1780, 1565, 1745, 1645,  990,
        670, 1735, 1750, 2074, 1840, 1845, 1975,  605, 2120, 1925, 1900,
       1190, 2025, 1810,  820, 1170, 1890, 2070, 1670, 2315, 2525,  250,
       2345,  230, 1950, 1915, 2000, 1650, 1135,  595, 2480, 1205, 1910,
       2565,  205, 2230, 1770, 1940, 1250, 2420,  815, 2860, 1230,  225,
       1870, 2440, 1370, 1945])

In [38]:
df_final['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [43]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()

In [44]:
df_final.head(1)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,170

In [47]:
df_final['Airline'] = labelEncoder.fit_transform(df_final['Airline'])
df_final['Source'] = labelEncoder.fit_transform(df_final['Source'])
df_final['Destination'] = labelEncoder.fit_transform(df_final['Destination'])
df_final['Additional_Info'] = labelEncoder.fit_transform(df_final['Additional_Info'])

In [48]:
df_final.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,Duration_min
0,3,0,5,2h 50m,0.0,8,3897.0,24,3,2019,1,10,22,20,170
1,1,3,0,7h 25m,2.0,8,7662.0,1,5,2019,13,15,5,50,445
2,4,2,1,19h,2.0,8,13882.0,9,6,2019,4,25,9,25,1159
3,3,3,0,5h 25m,1.0,8,6218.0,12,5,2019,23,30,18,5,325
4,3,0,5,4h 45m,1.0,8,13302.0,1,3,2019,21,35,16,50,285

In [54]:
df_final[['Airline']]

      Airline
0           3
1           1
2           4
3           3
4           3
...       ...
2666        1
2667        3
2668        4
2669        1
2670        6

[13354 rows x 1 columns]

In [58]:
ohe.fit_transform(np.array(df_final['Airline']).reshape(-1,1))

<13354x12 sparse matrix of type '<class 'numpy.float64'>'
	with 13354 stored elements in Compressed Sparse Row format>

In [59]:
df_final.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,Duration_min
0,3,0,5,2h 50m,0.0,8,3897.0,24,3,2019,1,10,22,20,170
1,1,3,0,7h 25m,2.0,8,7662.0,1,5,2019,13,15,5,50,445
2,4,2,1,19h,2.0,8,13882.0,9,6,2019,4,25,9,25,1159
3,3,3,0,5h 25m,1.0,8,6218.0,12,5,2019,23,30,18,5,325
4,3,0,5,4h 45m,1.0,8,13302.0,1,3,2019,21,35,16,50,285

In [60]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  int64
 1   Source           13354 non-null  int64
 2   Destination      13354 non-null  int64
 3   Duration         13354 non-null  object
 4   Total_Stops      13354 non-null  float64
 5   Additional_Info  13354 non-null  int64
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival_hour     13354 non-null  int64
 11  Arrival_min      13354 non-null  int64
 12  Dept_hour        13354 non-null  int64
 13  Dept_min         13354 non-null  int64
 14  Duration_min     13354 non-null  int64
dtypes: float64(2), int64(12), object(1)
memory usage: 1.6+ MB

In [ ]:
pd.get_dummies(df_final,)